@page
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@model ChangeUserDataModel
@{
    ViewData["Title"] = "Edytuj konto";
    Layout = "~/Pages/Shared/_DashboardLayout.cshtml";
}

<h1 class="title">Zmień swoje dane</h1>

<form method="post" class="form dashboard-form">
    <section asp-validation-summary="ModelOnly" class="text-danger"></section>
    
    <section>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" type="password" autocomplete="new-password"/>
    </section>

    <section>
        <label asp-for="Input.PasswordConfirm"></label>
        <input asp-for="Input.PasswordConfirm" type="password" autocomplete="new-password"/>
    </section>
    
    <section>
        <label asp-for="Input.City"></label>
        <input asp-for="Input.City"/>
    </section>

    <section>
        <label asp-for="Input.StreetAndBuilding"></label>
        <input asp-for="Input.StreetAndBuilding"/>
    </section>

    <section>
        <label asp-for="Input.Apartment"></label>
        <input asp-for="Input.Apartment"/>
    </section>

    <section>
        <label asp-for="Input.PostalCode"></label>
        <input asp-for="Input.PostalCode"/>
    </section>
    
    <section>
        <label asp-for="Input.PhoneNumber"></label>
        <input asp-for="Input.PhoneNumber"/>
    </section>

    <section>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email"/>
    </section>

    <input type="submit" value="Zapisz zmiany" />
</form>
<br/>
<br/>
<br/>
<br/>
<br/>

@section Scripts {
    <partial name="~/Pages/Shared/_ValidationScriptsPartial.cshtml"/>
}