@page
@model BankApp.Pages.CreditCardInfoModel
@{
    ViewData["Title"] = "Credit Card Information";
    Layout = "Shared/_DashboardLayout";
}

<h3>Dane karty kredytowej</h3>

@if (!Model.ShowCardInfo)
{
    <p>Aby wyświetlić dane karty, wprowadź swoje hasło.</p>

    <form method="post" asp-antiforgery="true">
        <div class="input-field">
            <input asp-for="Password" type="password" class="validate" />
            <label asp-for="Password">Hasło</label>
            <span asp-validation-for="Password" class="helper-text" data-error="Błąd"></span>
        </div>

        <button class="btn waves-effect waves-light" type="submit">Pokaż dane</button>
    </form>
}
else
{
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">Dane karty</span>
            <p><strong>Numer karty:</strong>@Model.CreditCardNumber</p>
            <p><strong>Ważna do:</strong>@Model.CreditCardExpiry</p>
            <p><strong>CVV:</strong>@Model.CreditCardCvv</p>
        </div>
        <div class="card-action">
            <a asp-page="CreditCardInfo">Ukryj</a>
        </div>
    </div>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}