@page
@model BankApp.Pages.CreditCardInfoModel
@{
    ViewData["Title"] = "Credit Card Information";
    Layout = "~/Pages/Shared/_DashboardLayout.cshtml";
}

<h1 class="title">Dane karty kredytowej</h1>

@if (!Model.ShowCardInfo)
{
    <form method="post" asp-antiforgery="true" class="dashboard-form form"> 
        <label asp-for="Password">Hasło</label>
        <input asp-for="Password" type="password"/>
        <span asp-validation-for="Password" data-error="Błąd"></span>
        <input type="submit" value="Pokaż dane" />
    </form>
}
else
{
    <section class="dashboard-form form">
        <span class="credit-card-text">Numer karty: @Model.CreditCardNumber</span>
        <br/>
        <span class="credit-card-text">Ważna do: @Model.CreditCardExpiry</span>
        <br/>
        <span class="credit-card-text">CVV: @Model.CreditCardCvv</span>
        <br/>
        <a asp-page="CreditCardInfo">
            <input type="submit" value="Ukryj" />
        </a>
    </section>
}
<br/>
<br/>
<br/>
<br/>
<br/>
@section Scripts{
    <partial name="~/Pages/Shared/_ValidationScriptsPartial.cshtml" />
}