@page
@model BankApp.Pages.CurrenciesModel
@{
    ViewData["Title"] = "Kursy walut";
    Layout = "~/Pages/Shared/_DashboardLayout.cshtml";
}

<h1 class="title">Aktualne kursy walut</h1>

<table>
    <thead>
    <tr>
        <th>Waluta</th>
        <th>Kod</th>
        <th>Kurs [PLN]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var r in Model.Rates)
    {
        <tr>
            <td>@r.Name</td>
            <td>@r.Code</td>
            <td>
                @r.RatePln.ToString("F4", new System.Globalization.CultureInfo("pl-PL")) zł
            </td>
        </tr>
    }
    </tbody>
</table>
<br/>
<span class="currencies-source">Źródło: <a href="https://www.bankier.pl/waluty/kursy-walut/nbp" target="_blank" rel="noopener noreferrer" class="currencies-source-link">https://www.bankier.pl/waluty/kursy-walut/nbp</a></span>