@page
@model BankApp.Pages.DashboardModel

@{
    ViewData["Title"] = "Panel użytkownika - RizzBank";
    Layout = "Shared/_DashboardLayout";
}

<h1 class="display-4">Witaj @Model.FirstName</h1>