@page
@model BankApp.Pages.DashboardModel

@{
    ViewData["Title"] = "Panel użytkownika - RizzBank";
    Layout = "Shared/_DashboardLayout";
}

<h1 class="title">Witaj @Model.FirstName</h1>

<section class="dashboard-container">
    <span class="dashboard-balance">Dostępne środki: @Model.Balance zł</span>
</section>

<section class="dashboard-container">
    <span class="dashboard-iban" id="ibanValue">Rachunek: @Model.Iban</span>
    <section class="copy-iban-button material-symbols-outlined" id="copyIbanBtn">content_copy</section>
</section>