@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna - RizzBank";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="title">RizzBank - Twój bank przyszłości</h1>

<section class="happy-people">
    <img src="~/images/happy-people.png" alt="ZAREJESTRUJ SIĘ I ZDOBĄDŹ 1000ZŁ NA START" class="happy-people"/>
</section>

<section class="index-info">
    
    <h2>Bank w 100% online, bez ukrytych opłat. Zarządzaj finansami w kilka kliknięć – gdziekolwiek jesteś.</h2>
    
    <h2>Błyskawiczne przelewy</h2>
    <span>Natychmiastowe przelewy 24/7.</span>
    
    <h2>0 zł za konto i kartę</h2>
    <span>Brak opłat za prowadzenie rachunku, przelewy i kartę kredytową.</span>

    <h2>Nieskończona ilość rachunków i kart</h2>
    <span>Potrzebujesz więcej rachunków na jedno konto? Żaden problem! U nas dodasz je jednym kliknięciem!</span>
    
    <h2>Kursy walut</h2>
    <span>Miej dostęp do zawsze aktualnych najpopularniejszych kursów walut w Polsce.</span>
        
    <h2>Bezpieczeństwo przede wszystkim – szyfrowanie SSL/TLS oraz hasła SHA‑256</h2>
    
    <h2>Wystarczą dwa szybkie kroki, aby zacząć</h2>
    <ol class="index-list">
        <li>Kliknij „Załóż konto” i wypełnij krótki formularz.</li>
        <li>Korzystaj z pełnej funkcjonalności RizzBank od razu po aktywacji.</li>
    </ol>
    
    <h2>Opinie klientów</h2>
    <blockquote class="index-list">
        “Najlepszy bank do codziennych finansów. Przelewy są błyskawiczne, a obsługa klienta bardzo pomocna.”
        <footer>— Anna, Warszawa</footer>
    </blockquote>
    <img src="~/images/happy-lady-and-laptop.png" alt="Szczęśliwa Pani z laptopem" class="quote-image"/>
    <blockquote class="index-list">
        “Całkiem skibidi bank. Polecam dla prawdziwych rizzlerów🗿.”
        <footer>— Jan, Mysłowice</footer>
    </blockquote>
    <img src="~/images/sigma-guy.png" alt="Totalny sigma z rizzface'em" class="quote-image"/>
    
    <h2 class="join-rizzbank">Dołącz do RizzBanku już dziś!</h2>
</section>