@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna - RizzBank";
    Layout = "Shared/_Layout";
}

<h1 class="title">Strona główna</h1>

<section class="index">
    <span class="index-text">Otwórz konto i zyskaj<br/>aż 1000zł!</span>
    <img src="images/happy-people.png" alt="ZAREJESTRUJ SIĘ I ZDOBĄDŹ 1000ZŁ NA START" class="happy-people"/>
</section>
