@page
@model BankApp.Pages.LoginModel
@{
    ViewData["Title"] = "Logowanie - RizzBank";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="title">Zaloguj się</h1>

<form method="post" class="form form-login">
    <label>Login</label>
    <br/>
    <input type="text" name="Login" />
    <br/>
    <label>Hasło</label>
    <br/>
    <input type="password" name="Password" />
    <br/>
    <input type="submit" value="Zaloguj się" />
</form>

@if (!string.IsNullOrEmpty(Model.GeneratedLogin))
{
    <section class="form">
        <span>@Model.GeneratedLogin</span>
    </section>
}