@page
@model BankApp.Pages.RegisterModel
@{
    ViewData["Title"] = "Rejestracja - RizzBank";
    Layout = "Shared/_Layout";
}

<h1 class="title">Zarejestruj się</h1>

@* Formularz rejestracji. *@
    <form method="post" class="form">
        <label asp-for="User.FirstName"></label>
        <input asp-for="User.FirstName" />
        <label asp-for="User.LastName"></label>
        <input asp-for="User.LastName" />
        <label asp-for="User.Nationality"></label>
        <input asp-for="User.Nationality" />
        <label asp-for="User.Pesel"></label>
        <input asp-for="User.Pesel" />
        <label asp-for="User.IdCard"></label>
        <input asp-for="User.IdCard" placeholder="ABC123456" />
        <label asp-for="User.City"></label>
        <input asp-for="User.City" />
        <label asp-for="User.StreetAndBuilding"></label>
        <input asp-for="User.StreetAndBuilding" />
        <label asp-for="User.Apartment"></label>
        <input asp-for="User.Apartment" placeholder="(opcjonalne)" />
        <label asp-for="User.PostalCode"></label>
        <input asp-for="User.PostalCode" />
        <label asp-for="User.PhoneNumber"></label>
        <input asp-for="User.PhoneNumber" />
        <label asp-for="User.Email"></label>
        <input asp-for="User.Email" />
        <label asp-for="User.Password"></label>
        <input asp-for="User.Password" type="password" />
        <span class="hint">Hasło musi zawierać przynajmniej 8 znaków, jedną dużą literę, liczbę oraz znak specjalny.</span>
        <br/>
        <br/>
        <label asp-for="User.PasswordConfirm"></label>
        <input asp-for="User.PasswordConfirm" type="password" />

        <input type="submit" value="Zarejestruj się" />

        @section Scripts {
            <script>

                // Dodaje znak "-" na trzecim indeksie aby zachować strukturę wpisu na zasadzie ##-###.
                document.addEventListener('DOMContentLoaded', function () {
                    let postalCodeInput = document.querySelector('input[name="User.PostalCode"]');

                    postalCodeInput.addEventListener('input', function (e) {
                        let value = e.target.value.replace(/\D/g, '');
                        if (value.length > 2) {
                            value = value.slice(0, 2) + '-' + value.slice(2);
                        }
                        e.target.value = value;
                    });
                });

            </script>
        }
    </form>
<br/>
<br/>
<br/>