@page
@model BankApp.Pages.SendTransferModel
@{
    ViewData["Title"] = "Wyślij przelew";
    Layout = "Shared/_DashboardLayout";
}

<h1 class="title">Przelew bankowy</h1>

<form method="post" class="form dashboard-form">
    
    <section>
        <label asp-for="ReceiversName">Odbiorca</label>
        <input asp-for="ReceiversName"/>
    </section>
    
    <section>
        <label asp-for="ReceiverIban">Rachunek odbiorcy</label>
        <input asp-for="ReceiverIban" placeholder="PL##########################"/>
    </section>

    <section>
        <label asp-for="Amount">Kwota</label>
        <input asp-for="Amount" step="0.01"/>
    </section>

    <section>
        <label asp-for="Title">Tytuł przelewu</label>
        <input asp-for="Title" placeholder="(opcjonalnie)"/>
    </section>

    <input type="submit" value="Wyślij" />
    
</form>
<br/>
<br/>
<br/>
<br/>
<br/>

<partial name="_ValidationScriptsPartial"/>