/*Czcionka dla dużych znaków*/
@import url('https://cdn.msar.me/fonts/Tiempos/font.css');

/*Czcionka dla zwykłych znaków*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Ikony*/
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');


html {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    min-height: 100vh;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-image: url("/images/gradient.svg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-gutter: stable both-edges;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.25);
    border-radius: 4px;
    border: 1px solid transparent;
    transition: background-color 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
    background-color: rgba(255,255,255,0.30);
}

.title {
    position: relative;
    font-family: Tiempos, sans-serif;
    font-size: 4rem;
    filter: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 0.3));
    margin-left: 2vw;
}

span, a, h1, h2, label, table {
    color: #F2F2F2;
    text-decoration: none;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    height: 3rem;
    width: 100%;
    padding: 12px 20px;
    margin: 1rem 0;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    background-color: rgba(64, 64, 64, 0.3);
    color: #F2F2F2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

input[type=submit] {
    transition: all 0.15s ease-in-out;
    background-color: rgba(64, 64, 64, 0.3);
    filter: saturate(70%);
    height: 4rem;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

input[type=submit]:hover, input:hover {
    transition: all 0.15s ease-in-out;
    background-color: rgba(32, 32, 32, 0.3);
}

.form {
    width: 40rem;
    margin: 4rem auto 0;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.4);
    background-color: rgba(16, 16, 16, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    
}

.main {
    position: relative;
    top: 7rem;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 100%;
    height: calc(100vh - 10rem);
}

.hint {
    color: #bababa;
    font-size: 1rem;
}

.validation-toast {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    max-width: 20rem;
    background: #f44336;
    color: #F2F2F2;
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    z-index: 10;
    font-size: 1rem;
    line-height: 3vh;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-direction: row;
    max-height: 48rem;
    min-height: 5rem;
}

.validation-toast .close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}


/* ========================================= _LAYOUT ========================================= */

nav {
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
    overflow: hidden;
    background-color: rgba(16, 16, 16, 0.1);
    border-radius: 1.5rem;
    backdrop-filter: saturate(120%) blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
    z-index: 5;
}

.logo {
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
    margin: 0.75rem;
    height: 4.5rem;
    width: 4.5rem;
    overflow: hidden;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-button {
    margin: 1rem;
    height: 4rem;
    background-color: rgba(64, 64, 64, 0.3);
    filter: saturate(70%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.25s ease-in-out;
}

.nav-button-down {
    transition: all 0.25s ease-in-out;
    transform: scale(0.90);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

.nav-button-enter {
    transition: all 0.25s ease-in-out;
    transform: scale(1.15);
}


/* ===================================== INDEX ===================================== */

.happy-people {
    justify-content: center;
    align-items: center;
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 7vh;
}

.material-symbols-outlined {
    text-align: center;
    bottom: 1rem;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 3rem;
    color: #F2F2F2;
}

h2 {
    font-family: Tiempos, sans-serif;
    font-size: 4rem;
    filter: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 0.3));
    margin-left: 2vw;
    margin-top: 15vh;
}

.index-info {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90vw;
}

.index-list {
    text-align: left;
    line-height: 3rem;
    color: #F2F2F2;
}

.quote-image {
    width: 20vw;
    height: 20vw;
    border-radius: 1.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 5vh;
    
}

.join-rizzbank {
    font-size: 6vw !important;
    margin-top: 20vh;
    margin-bottom: 40vh;
}


/* ===================================== LOGIN ===================================== */

.form-login {
    width: 20rem !important;
}


/* ===================================== _DASHBOARDLAYOUT ===================================== */

.sidebar-toggler {
    position: fixed;
    margin: 2rem;
    z-index: 10;
    background-color: rgba(64, 64, 64, 0.3);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.25s ease-in-out;
    backdrop-filter: saturate(120%) blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.date-time {
    z-index: 5;
    position: fixed;
    font-size: 1.3rem;
    text-align: right;
    top: 2rem;
    right: 2rem;
    font-weight: bold;
    width: auto;
    padding: 0.75rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.4);
    background-color: rgba(16, 16, 16, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: saturate(120%) blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.sidebar-expanded {
    position: fixed;
    box-sizing: border-box;
    width: 20vw;
    z-index: 5;
    display: flex;
    flex-direction: column;
    background-color: rgba(16, 16, 16, 0.1);
    border-radius: 1.5rem;
    backdrop-filter: saturate(120%) blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
    height: calc(100vh - 2rem);
    margin: 1rem 0 1rem 1rem;
    overflow: hidden;
    transition: margin-left 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950), box-shadow 500ms linear, opacity 500ms cubic-bezier(1.000, -0.600, 1.000, -0.600);
    transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950), cubic-bezier(1.000, -0.600, 1.000, -0.600);
}

.sidebar-hidden {
    margin-left: -20vw;
    box-shadow: 0;
    transition: margin-left 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950), box-shadow 500ms linear, opacity 500ms cubic-bezier(0.000, 1.650, 0.000, 1.650) !important;
    transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950), cubic-bezier(0.000, 1.650, 0.000, 1.650) !important;
    opacity: 0;
}

.sidebar-user-info {
    white-space: nowrap;
    width: calc(100% - 2rem);
    margin: 9vh 1rem 2.5vh;
}

.sidebar-toggler {
    position: fixed;
    margin: 2rem;
    z-index: 10;
    background-color: rgba(64, 64, 64, 0.3);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.25s ease-in-out;
    backdrop-filter: saturate(120%) blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.hide-sidebar-toggler-icon {
    background-image: url("/images/left-panel-close.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    transition: background-image 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transform: scale(1.2);
}

.show-sidebar-toggler-icon {
    background-image: url("/images/left-panel-open.svg");
}

.user-name {
    font-size: 2vw;
    font-family: Tiempos, sans-serif;
    filter: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 0.3));
    display: inline-block;
    white-space: nowrap;
    transform-origin: left center;
}

.sidebar-buttons {
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 0;
    scrollbar-gutter: stable both-edges;
}

.sidebar-button {
    font-size: 1.2rem;
    margin: 1rem;
    height: 4rem;
    background-color: rgba(64, 64, 64, 0.3);
    filter: saturate(70%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.25s ease-in-out;
    overflow: visible;
}

.sidebar-button-down {
    transition: all 0.25s ease-in-out;
    transform: scale(0.90);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.sidebar-button-enter {
    transition: all 0.25s ease-in-out;
    transform: scale(1.10);
}

.separator {
    background-color: rgba(255,255,255,0.25);
    margin: 1rem;
    min-height: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
}

.main-with-sidebar {
    flex: 1;
    margin-left: calc(20vw + 2rem);
    margin-right: calc(2rem - 12px);
    transition: margin-left 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950), margin-top 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.main-with-sidebar-hidden {
    margin-left: 1rem !important;
    margin-top: 8vh !important;
}

.dashboard-form {
    margin-top: 10vh !important;
    width: 80% !important;
}


/* ===================================== DASHBOARD ===================================== */

.dashboard-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    justify-content: start;
    margin: 2vh;
    padding: 2vh;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.4);
    background-color: rgba(16, 16, 16, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 2vw;
    font-family: Tiempos, sans-serif;
}

.dashboard-balance {
    font-size: 3vw;
    margin-bottom: -0.4vw;
}

.dashboard-iban {
    margin-top: 0.3vw;
}

.copy-iban-button {
    background-color: rgba(64, 64, 64, 0.2);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    border-radius: 0.5rem;
    transition: background 0.15s ease-in-out;
    font-size: 100%;
    width: 2vw;
    height: 2vw;
    margin-left: 0.5vw;
    color: white;
}

.copy-iban-button:hover {
    background-color: rgba(64, 64, 64, 0.3);
}


/* ===================================== ACCOUNTS ===================================== */

table {
    width: 80%;
    margin: 4rem auto 0;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.4);
    background-color: rgba(16, 16, 16, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    font-size: 1.5rem;
    border-collapse: separate;
    border-spacing: 0;
}

table thead {
    background-color: rgba(255, 255, 255, 0.05);
}

table th,
table td {
    padding: 1rem !important;
    border-top: none;
    border-left: none;
}

table tr:last-child td {
    border-bottom: none;
}
table tr td:last-child,
table tr th:last-child {
    border-right: none;
}

table th {
    font-weight: bold;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.accounts-set-as-active {
    margin: 0 !important;
    transform: scale(0.8) !important;
    min-width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

td {
    text-align: center !important;
    justify-content: center !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.container-create-new-account-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-new-account-button {
    margin-top: 5vh !important;
    width: 20rem !important;
}


/* ===================================== TRANSFERSHISTORY ===================================== */

.filter-panel {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: calc(100% - 4rem);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.table-transfers {
    min-width: 95% !important;
    font-size: 1rem !important;
}

.select {
    background-color: rgba(64, 64, 64, 0.3);
    filter: saturate(70%);
    height: 4rem;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#filterPanel {
    max-height: 0;
    opacity: 0;
    transition: max-height 500ms ease, opacity 500ms ease;
    overflow: hidden;
}

#filterPanel.open {
    max-height: 55rem;
    opacity: 1;
    overflow: visible;
}


/* ===================================== CURRENCIES ===================================== */

.currencies-source {
    display: flow;
    justify-content: right;
    text-align: right;
    margin: 0.1rem;
    opacity: 50%;
}

.currencies-source-link:hover {
    text-decoration: underline;
}


/* ===================================== CREDITCARDINFO ===================================== */

.credit-card-text {
    font-size: 1.5rem;
}